<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>
        <a href="/"> Home</a>
        <a href="/newTask"> Add new Task</a>
    </h1>
    <h3>All the tasks are:
        <table>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
                <td>Description</td>
            </tr>
            <% for ( var i=0; i < taskDb.length; i++){ %>
            <tr>
                <td>
                    <%= taskDb[i].taskname %>
                </td>
                <td>
                    <%= taskDb[i].taskdue %>
                </td>
                <td>
                    <%= taskDb[i].taskdesc %>
                </td>
            </tr>
            <% }%>
    </h3>
</body>

</html>