<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <form action="/newTask" method="POST">
        <h1>
            <a href="/"> Home</a>
            <a href="/listTask"> List Task</a>
        </h1>
        Task Name <input type="text" name="taskname" />
        <br />
        Task Due <input type="text" name="taskdue" />
        <br />
        Task Desc <input type="text" name="taskdesc" />
        <button>Submit</button>
    </form>

</body>

</html>